__pycache__
*.egg-info/
*.swp
.vscode/
.venv/
t_arm_drake/
simulation_frames/
dino_features/
energy_comparison/
state_comparison/
state_vs_cosine_output/
data/
depth_comparison/
point_cloud_comparison/
real_calib_with_extrinsics.json
sim_calib_with_extrinsics.json
